<div id="gameboard-outer-border" [style.cursor]="cursor_style">
  <div #gameboard id="gameboard">
    <div id="toolbar">
      <div class="toolbar-ico unit" (click)="updatePointer('unit')"></div>
      <div class="toolbar-ico stairs" (click)="updatePointer('stairs')"></div>
      <div class="toolbar-ico flat" (click)="updatePointer('flat')"></div>
      <div class="toolbar-ico office" (click)="updatePointer('office')"></div>
      <div
        class="toolbar-ico shopping"
        (click)="updatePointer('shopping')"
      ></div>
      <div class="toolbar-ico school" (click)="updatePointer('school')"></div>
      <div class="toolbar-ico safety" (click)="updatePointer('safety')"></div>
      <div class="toolbar-ico pointer" (click)="updatePointer('pointer')"></div>
      <!-- <div class="toolbar-divide"></div> -->
      <!-- <div class="toolbar-divide"></div> -->
    </div>

    <div
      *ngFor="let floor of total_floors; let i = index"
      [id]="'floor_' + i"
      class="floor"
      [class]="
        i > total_floors.length - 6 ? 'underground-bg ubg-' + i : 'sky-bg'
      "
    >
      <div class="node-container">
        <div
          *ngFor="let node of total_floor_nodes; let j = index"
          class="node"
          [id]="'node_' + i + '_' + j"
        ></div>
      </div>
    </div>
    <div class="bus"></div>
  </div>
</div>
<span class="material-icons-two-tone"> laptop </span>
<span class="material-icons-two-tone"> weekend </span>
<span class="material-icons-two-tone"> school </span>
<span class="material-icons-two-tone"> shopping_cart </span>
<span class="material-icons-two-tone"> stairs </span>
<span class="material-icons-two-tone"> directions_bus </span>
<span class="material-icons-two-tone"> health_and_safety </span>
<span class="material-icons-two-tone"> attractions </span>
<span class="material-icons-two-tone"> dangerous </span>
