<div class="gameboard-outer-border" [style.cursor]="cursor_style">
  <div class="gameboard">
    <div class="toolbar">
      <div class="toolbar-icon unit" (click)="updatePointer('unit')"></div>
      <div class="toolbar-icon stairs" (click)="updatePointer('stairs')"></div>
      <div class="toolbar-divider"></div>
      <div class="toolbar-icon flat" (click)="updatePointer('flat')"></div>
      <div class="toolbar-icon office" (click)="updatePointer('office')"></div>
      <div
        class="toolbar-icon shopping"
        (click)="updatePointer('shopping')"
      ></div>
      <div class="toolbar-divider"></div>
      <div class="toolbar-icon school" (click)="updatePointer('school')"></div>
      <div class="toolbar-icon safety" (click)="updatePointer('safety')"></div>
      <div class="toolbar-divider"></div>
      <div
        class="toolbar-icon pointer"
        (click)="updatePointer('pointer')"
      ></div>
      <div class="toolbar-divider"></div>
      <div class="wallet">
        <span>350000</span><span class="rental-income">500</span>
      </div>
    </div>

    <div
      *ngFor="let floor of total_floors"
      [id]="'floor_' + floor.id"
      class="floor"
      [class]="floor.id > 10 ? 'underground-bg ubg-' + floor.id : 'sky-bg'"
    >
      <div class="node-container">
        <div
          *ngFor="let node of floor.nodes"
          class="node"
          [stNode]="node"
          [connected]="floor.stairs"
          [id]="'node_' + floor.id + '_' + node.id"
        ></div>
      </div>
    </div>
    <div class="bus"></div>
  </div>
</div>
<!-- <span class="material-icons-two-tone"> laptop </span>
<span class="material-icons-two-tone"> weekend </span>
<span class="material-icons-two-tone"> school </span>
<span class="material-icons-two-tone"> shopping_cart </span>
<span class="material-icons-two-tone"> stairs </span>
<span class="material-icons-two-tone"> directions_bus </span>
<span class="material-icons-two-tone"> health_and_safety </span>
<span class="material-icons-two-tone"> attractions </span>
<span class="material-icons-two-tone"> dangerous </span> -->
