<div class="toolbar">
  <div
    class="toolbar-icon unit"
    [ngClass]="{ active: engine.activeBlock === 'unit' }"
    (click)="updatePointer('unit')"
  ></div>
  <div
    class="toolbar-icon elevator"
    [ngClass]="{ active: engine.activeBlock === 'elevator' }"
    (click)="updatePointer('elevator')"
  ></div>
  <div class="toolbar-divider"></div>
  <div
    class="toolbar-icon flat"
    [ngClass]="{ active: engine.activeBlock === 'flat' }"
    (click)="updatePointer('flat')"
  ></div>
  <div
    class="toolbar-icon office"
    [ngClass]="{ active: engine.activeBlock === 'office' }"
    (click)="updatePointer('office')"
  ></div>
  <div
    class="toolbar-icon shopping"
    [ngClass]="{ active: engine.activeBlock === 'shopping' }"
    (click)="updatePointer('shopping')"
  ></div>
  <div class="toolbar-divider"></div>
  <div
    class="toolbar-icon school"
    [ngClass]="{ active: engine.activeBlock === 'school' }"
    (click)="updatePointer('school')"
  ></div>
  <div
    class="toolbar-icon safety"
    [ngClass]="{ active: engine.activeBlock === 'safety' }"
    (click)="updatePointer('safety')"
  ></div>
  <div class="toolbar-divider"></div>
  <div
    class="toolbar-icon attractions"
    [ngClass]="{ active: engine.activeBlock === 'attractions' }"
    (click)="updatePointer('attractions')"
  ></div>
  <div class="toolbar-divider"></div>
  <div
    class="toolbar-icon pointer"
    [ngClass]="{ active: engine.activeBlock === 'pointer' }"
    (click)="updatePointer('pointer')"
  ></div>
  <div class="toolbar-divider"></div>
  <div class="wallet">{{ bank.bankAccount$ | async }}</div>
</div>
<dialog #dialog>
  <div (click)="dialog.close()">X</div>
  <table>
    @for (data of dialogData$ | async; track data) {
    <tr>
      <td>{{ data }}</td>
    </tr>
    }
  </table>
</dialog>
<div class="gameboard-outer-border">
  <div class="gameboard">
    @for (floor of total_floors; track floor) {
    <div
      [id]="'floor_' + floor.floor"
      class="floor"
      [class]="
        floor.floor > 10 ? 'underground-bg ubg-' + floor.floor : 'sky-bg'
      "
    >
      <div class="node-container">
        @for (node of floor.nodes; track node) {
        <div
          class="node"
          [stNode]="node"
          [connected]="floor.elevator"
          [id]="'node_' + floor.floor + '_' + node.id"
        ></div>
        }
      </div>
    </div>
    }
    <div class="bus"></div>
  </div>
</div>
