@import "./styles/toolbar";
@import "./styles/node";
@import "./styles/gameboard";
@import "./styles/floor";

@font-face {
  font-family: "pxlxxlBold";
  src: url("assets/fonts/pxlxxlBold.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/pxlxxlBold.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("assets/fonts/pxlxxlBold.otf") format("opentype"),
    /* Open Type Font */ url("assets/fonts/pxlxxlBold.svg") format("svg"),
    /* Legacy iOS */ url("assets/fonts/pxlxxlBold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("assets/fonts/pxlxxlBold.woff")
      format("woff"),
    /* Modern Browsers */ url("assets/fonts/pxlxxlBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: pxlxxlBold;
}

.bus {
  width: 48px;
  height: 48px;

  bottom: 250px;
  right: 0px;
  background-image: url(assets/img/icon/bus.png);
  position: absolute;
  display: inline-block;
  z-index: 2;
}
